*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
img{
    width: 1300px;
    height: auto;
    cursor: pointer;
}
.bg{
    display: flex;
    justify-content: center;
    align-items: center; 
}