* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: auto;
    background: url("Images/bg_pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.top {
    width: auto;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.time {
    display: flex;
    align-items: center;
}

#time_val {
    width: 70px;
    height: 60px;
    color: #d33a1f;
    font-size: 50px;
    margin-left: 10px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}
.hit{
    display: flex;
    align-items: center;
}
#hit_val {
    width: 100px;
    height: 60px;
    color: #d33a1f;
    font-size: 50px;
    margin-left: 10px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
} 
#board{
    width: 1200px;
    height: 360px;
    margin: 190px auto;
    margin-bottom: 0px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
#board div{
    width: 100px;
    height: 100px;
}
#board div img{
    width: 100px;
    height: 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#gameOverPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
#gameOverPopup button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
